@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
img {
  width: 400px; }

/*  Variables, Mixins y Funciones   */
/*  Correspondiente al codigo general   */
/* HUBBALLI Letra SIN SERIFA, se usa con: 
font-family: 'Hubballi', cursive;*/
/* ------------------------------------- */
/* DANCING SCRIPT letra DISPLAY, ILUSTRATIVA
font-family: 'Dancing Script', cursive; */
/* 
font-family: 'Indie Flower', cursive */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* CONFIGURACION GENERAL DE FUENTES Y TAMAÑOS */
::selection {
  background-color: #C8B6FF; }

:is(h1) {
  font: bold 2.5rem "Indie Flower", cursive; }

:is(h2) {
  font: bold 2.15rem "Indie Flower", cursive; }

:is(h3) {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  font-weight: bold; }

:is(p, .footer-entregas, footer .footer-contactenos, .footer-contactenos) {
  font-family: 'Hubballi', cursive;
  font-size: 1.5rem; }

p {
  margin: 0rem; }

/*  Importamos el Layout  */
header {
  position: sticky;
  top: 0rem;
  opacity: 88%;
  height: 7rem;
  background-color: #f9e1f9;
  z-index: 1000; }
  header .navbar .titulo-header {
    width: 20%; }
    header .navbar .titulo-header p {
      text-decoration: none;
      font-family: "Dancing Script", cursive;
      font-size: 2.8125rem;
      font-weight: bold;
      line-height: 2.5rem;
      text-align: center;
      color: #ba18c0; }
  header .navbar .menu {
    border: none; }
    header .navbar .menu img {
      width: 3rem;
      height: 3rem; }
  header .navbar .offcanvas-header {
    background-color: #f9e1f9; }
    header .navbar .offcanvas-header h5 {
      text-decoration: none;
      font-family: "Dancing Script", cursive;
      font-size: 2rem;
      font-weight: bold;
      line-height: 2.5rem;
      text-align: center;
      color: #ba18c0; }
  header .navbar ul {
    list-style: none;
    gap: 4.4rem;
    padding-right: 4.3rem; }
    header .navbar ul li a {
      text-decoration: none;
      font-family: "Dancing Script", cursive;
      font-size: 2.25rem;
      font-weight: bold;
      line-height: normal;
      text-align: center;
      color: #c54de3; }
      header .navbar ul li a:hover {
        color: #ba18c0; }

.background img {
  width: 100%;
  height: 37.5rem;
  object-fit: cover; }

.descripcion {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 0;
  margin: 3.75rem 0; }
  .descripcion .text-descripcion {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: 2rem; }
    .descripcion .text-descripcion .titulo-descripcion {
      width: 100%;
      padding-right: 5.3125rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3.125rem; }
      .descripcion .text-descripcion .titulo-descripcion h1 {
        width: 35.0625rem;
        text-decoration: underline;
        text-decoration-color: #B8C0FF;
        order: 2;
        text-align: center; }
  .descripcion .img-descripcion {
    display: flex;
    flex-direction: none;
    justify-content: none;
    align-items: center;
    gap: 0; }

footer {
  background-color: #FFD6FF;
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  grid-template-rows: 1fr 20%;
  grid-template-areas: "parrafo iconos contactenos" "copy copy copy";
  height: 15.625rem; }
  footer .footer-entregas, footer .footer-contactenos {
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 2.25rem; }
    footer .footer-entregas p, footer .footer-contactenos p {
      font-size: 2.25rem; }
  footer .footer-contactenos a {
    color: black;
    text-decoration: underline #816FB3; }
    footer .footer-contactenos a:hover {
      font-weight: 600; }
    footer .footer-contactenos a:active {
      color: #FFF392; }
  footer .footer-iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    width: 100%; }
    footer .footer-iconos a img {
      width: 6rem; }
      footer .footer-iconos a img:hover {
        scale: 1.2; }
  footer .footer-copy {
    grid-area: copy;
    align-self: end;
    justify-self: center;
    text-align: center;
    font-size: 1.5rem; }

/*  Correspondiente a las mediaQ  */
