$colores: (
    color1: #ff02ff1b,
    color2: #784dc8,
    color3: #816FB3,
    color4: #B8C0FF,
    color5: #C8B6FF,
    color6: #FFD6FF,
    color7: #f9e1f9,
    color8: #aa56f3,
    color9: #c54de3,
    color10: #ba18c0,
    color11: #FFF392,    
    color12: black
);