@mixin flex($direction, $justify, $align, $gap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@mixin grid($rows, $columns, $justify, $align){
    display: grid;
    grid-template: $rows / $columns;
    justify-items: $justify;
    align-items: $align;
}
@mixin grid-area($rows, $columns, $areas, $height){
    display: grid;
    grid-template: $rows / $columns;
    grid-template-areas: $areas;
    height: $height;
}

@mixin align-self($align, $justify, $text, $size){
    align-self: $align;
    justify-self: $justify;
    text-align: $text;
    font-size: $size;
}
@mixin font($decoration, $family, $size, $weight, $height, $align, $color){
    text-decoration: $decoration;
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    text-align: $align;
    color: $color;
}
@mixin font-buttons($color, $size, $width, $height, $family, $weight, $border, $radius){
    background-color: $color;
    font-size: $size;
    width: $width;
    height: $height;
    font-family: $family;
    font-weight: $weight;
    border: $border;
    border-radius: $radius;
}
@mixin font-general($family, $size, $weight){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}
@mixin img-circular($width){
    width: $width;
    height: $width;
    border-radius: 50%;
    object-fit: cover;
}