::selection{
    background-color: #C8B6FF;
}
:is(h1){
    font: $title-font;
    text-align: center;
}
:is(h2) {
    font: $h2-font;
    text-align: center;
}
:is(h3) {
    font: $h3-font;
}
:is(p, .footer-entregas, .footer-contactenos) {
    font-family: 'Hubballi', cursive;
    font-size: 1.5rem;
}
p{
    margin: 0rem;
}

img{
    view-timeline-name: --revealing-image;
    view-timeline-axis: block;
    animation-name: show;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-timeline: --revealing-image;
    animation-range: entry 25% cover 50%;
}
@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

main{
    animation-name: square-in-bottom-right;
    animation-duration: 1.75s;
}
@keyframes square-in-bottom-right {
    from {
        clip-path: inset(0 100% 100% 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}
    [transition-style="in:square:bottom-right"] {
        animation: 1.25s cubic-bezier(.25, 1, .30, 1) square-in-bottom-right both;
    }