/* CONFIGURACION GENERAL DE FUENTES Y TAMAÑOS */
::selection{
    background-color: #C8B6FF;
}
:is(h1){
    font: $title-font;
    text-align: center;
}
:is(h2) {
    font: $h2-font;
    text-align: center;
}
:is(h3) {
    font: $h3-font;
}
:is(p, .footer-entregas, .footer-contactenos) {
    font-family: 'Hubballi', cursive;
    font-size: 1.5rem;
}
p{
    margin: 0rem;
}