/* HUBBALLI Letra SIN SERIFA, se usa con: 
font-family: 'Hubballi', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

/* ------------------------------------- */

/* DANCING SCRIPT letra DISPLAY, ILUSTRATIVA
font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* 
font-family: 'Indie Flower', cursive */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
