@media(max-width:480px){
    :is(h2){
        font-size: 1.8rem;
    }
    :is(h3){
        font-size: 1.5rem;
    }
    :is(p){
        font-size: 1.35rem;
    }
    :is(.formulario-nombre, .formulario-email, .formulario-mensaje label textarea) label input{
        width: 95%;
    }
    header{
        .navbar{
            .titulo-header{
                p{
                    font-size: 2.4rem;
                }
            }
            .menu{
                img{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
    footer{
        @include grid-area(15% repeat(3, 1fr) 20% 15%, 1fr, "contactenos""iconos""iconos""iconos""parrafo""copy", 40rem);
        .footer-iconos{
            flex-flow: column nowrap;
            gap: 2rem;
            a{
                img{
                    width: 4rem;
                }
            }
            
        }
        .footer-contactenos{
            a{
                font-size: 1.8rem;
            }
        }
        .footer-entregas{
            p{
                font-size: 1.6rem;
            }
        }
        .footer-copy{
            p{
                font-size: 1rem;
            }
        }
    }
    main{
        .descripcion{
            .text-descripcion{
                img{
                    display: none;
                }
                .parrafo-descripcion{
                    padding: 2rem 1rem;
                    p{
                        font-size: 1.35rem;
                    }
                }
            }
            button{
                font-size: 1.25rem;
                width: 16.25rem;
                height: 2rem;
            }
            .img-descripcion{
                img{
                    width: 24rem;
                    height: 24rem;
                }
            }
        }

        .tipos-de-productos{
            .t-prod-titulo-imagen{
                img{
                    width: 15rem;
                    height: 15rem;
                }
                p{
                    font-size: 1.6rem;
                }
            }
        }

        .dias-pedidos{
            width: 100%;
        }

        .lugar{
            p{
                font-size: 1.35rem;
            }
        }

        .productos{
            .titulo-productos{
                h2{
                    text-align: center;
                }
            }
            .descripcion-productos{
                .descripcion-productos-1{
                    height: 28rem;
                    img{
                        width: 18rem;
                        height: 18rem;
                    }
                }
            }
        }
        .contacto-grids{
            height: 90rem;
            grid-template-rows: 8% 28% 1fr;
            .info-personal{
                grid-template-rows: 1% repeat(2, 1fr) 5%;
                grid-template-columns: 1fr 95% 1fr;

                .telefono{
                    .info-personal-fila{
                        flex-flow: wrap column;
                    }
                }
                .email{
                    .info-personal-fila{
                        flex-flow: wrap column;
                    }
                }
                
            }
            .formulario{
                padding: 0;
                form{
                    fieldset{
                        width: 94%;
                        .formulario-grids{
                            grid-template-columns: 1fr;
                            grid-template-rows: 6.25rem repeat(2, 7.8125rem) 12.5rem 20rem;
                            legend{
                                grid-row: 1 / 2;
                                grid-column: 1 / 2;
                            }
                            .formulario-nombre{
                                grid-row: 2 / 3;
                                grid-column: 1 / 3;
                            }
                            .formulario-email{
                                grid-row: 3 / 4;
                                grid-column: 1 / 3;
                            }
                            .formulario-tipo-mensaje{
                                grid-row: 4 / 5;
                                grid-column: 1 / 3;
                            }
                            .formulario-mensaje{
                                grid-row: 5 / 6;
                                grid-column: 1 / 3;
                            }
                            .boton-enviar{
                                grid-row: 6 / 7;
                                grid-column: 1 / 3;
                            }
                        }
                    }
                }
            }
        }
        .navega-404{
            ul{
                display: flex;
                flex-flow: wrap column;
                justify-content: center;
                align-content: center;
                padding: 0;
            }
        }
    }
}